/* 首页独特的样式 */
.nav{
    height: 30px;
    background: #e3e4e5;
    border-bottom:1px solid #ddd;
}

/* 导航栏中的字体页面居中,在导航栏里放个box容器，box容器居中，文本靠右 */
.nav-box{
    margin: 10px auto;
    width: 960px;
    text-align: right;

}

.nav-box ul li{
    /* 列表横向排列 */
    display: inline-block;
    padding: 0px 10px;
    font-size:12px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

/* 标签颜色 */
.nav-box ul li a{
    color: #999999;
    text-decoration: none;
    
}

/* 导航栏小竖线的实现 */

.nav-box ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    background: #999999;
    position:absolute;
    top: 7px;
    right:0px;

    display:inline-block;
}

.nav-box ul li a:hover{
    color: #f10215;

}

.header-box{
    height: 140px;
    background: #ffffff;
}

.header{
    width: 960px;
    display: flex;
    margin: 0px auto;
    padding: 10px 0px;
}

.header .logo-box{
    width: 190px;
    height: 120px;

}
.header .search-box {
    width:700px;
    padding: 0px 10px;
}

.header .search-bar{
    padding: 10px 0px 0px 50px;
    display: flex;
}
.header .search-bar input{
    width: 550px;
    height: 30px;
    border: 2px solid #eb1729;
    padding: 2px 10px;
    outline: none;

}

 .search-bar .search-btn{
     width: 50px;
     height: 36px;
     border: 1px solid #eb1729;
     background: #eb1729;
     /* 将鼠标放上去会出现小手手 */
     cursor: pointer;
     line-height: 34px;
     text-align: center;
 }
 .search-bar .iconfont-search{
     color:#ffffff;
     font-size: 22px;
     font-weight:bold;

 }

 .search-bar .cart-btn{
     font-size: 12px;
     margin: 0px 0px 0px 20px;
     color:red;
     border: 1px solid #d6d6d6;
     width:150px;
     height: 34px;
     /* 调节line-height 就可以使字在一个按钮中居中 */
     line-height: 36px;
     text-align: center;
     cursor:pointer;
 }

 .search-bar .iconfont-cart{
     margin:0px 10px;
     font-size: 22px;
     font-weight: bold;
 }

 /* 字体图标，iconfont 这样子可以减少http访问。 */

.header .recommend{
    font: size 12px;
    padding: 5px 0px 25px 50px;
}
.header .recommend li:first-child a{
    text-decoration: none;
    color:#f10215;

}

.header .recommend li:not(:first-child) a{

    color:#999999;
    text-decoration:none;

}

.header .recommend li a:hover{
    color: #f10215;
}


.search-box ul li {
    display: inline-block;
    padding :0px 7px;
}

.search-box ul li a{
    color:#333333;
}

.search-box ul li a:hover{
    color:#eb1729;
}




/* 上面的写法是正确的，下面的是错误 ，为什么呢*/
/* .header .recommend li a:not(:first-child){
    
    color:#999999;
    text-decoration:none;
} */


.content .wrapper{
    margin:0px auto;
    width: 960px;
    padding: 10px;
    display: flex;
}

.menu-box{
    width: 190px;
    background: #ffffff;
    padding: 10px 0px;
    margin-right: 10px;
    position:relative;
}

.menu-box ul li{
    height: 25px;
    line-height: 25px;
    padding: 0px 12px;
    overflow: hidden;
    
}

.menu-box ul li:hover{
    background: #d9d9d9; 
}

/*放在一个列表上显示一个模块，这样子的缺点就是一滑动就会导致导航栏变化，因此我们使用js*/
.menu-box ul li:hover .sub-menu{
    display: block;
}

.menu-box ul li a{
    color:#333333;
    text-decoration: none;
}

.menu-box ul li a:hover{
    color:red;
}
.menu-box .sub-menu{
    position: absolute;
   top:0px;
   left: 190px;
   background: #ffffff;
   z-index: 1;
   width: 800px;
   padding:20px;
   font-size: 12px;
   box-shadow: 2px 0px 5px rgba(0,0,0,0.3);

   display: none;
}

.sub-menu .left-box{
    float: left;
    width:560px;
}




.sub-menu .menu-title{
    margin: 0px 0px 10px 0px;
}

.sub-menu .menu-title .item{
    color:#ffffff;
   background: black;
   padding:3px 10px;
}

.sub-menu .menu-title .item:hover{
   
   background:#eb1729;
}

.sub-menu dl{
    /* 设置flex后dl和dd就能够排成一排，而不是分别各占一行 */
    display: flex;
}
.sub-menu dl dt{
    font-weight: bold;
    width: 60px;
    text-align:right;
    /* 不进行压缩 */
    flex-shrink: 0;
}

.sub-menu dd a{
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
}

.sub-menu .right-box{
    float:right;
    width:168px;
}

.sub-menu .pic-box{
    margin:0px 0px 10px 0px;

}

.sub-menu .pic-box:last-child{
    margin: 0px;
}

.slider-box {
    margin-right: 10px;
}
.slider-box .slider {
    width:590px;
    height: 470px;
    margin-right: 10px;
    position:relative;
    overflow:hidden;
}

.slider-box .slider ul{

    position:absolute;
    top:0px;
    /* 第一张让他跑到前面去 */
    /* left: -590px; */
    left:0px;
    width: 500%;
    height: 100%;

}

.slider-box .slider ul li{
    /* 浮动就能在同一块 */
    float: left;
}

.slider-box .left-box {
    background: rgba(0,0,0,0.3);
    
    position:absolute;
    top:45%;
    left:0px;

    width: 35px;
    height:50px;

    color:#ffffffcc;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.slider-box .right-box {
    background: rgba(0,0,0,0.3);
    position:absolute;
    top:45%;
    right:0px;
    width: 35px;
    height:50px;
    color:#ffffffcc;
    display: flex;
    font-weight: bold;

    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 为什么只有span部分的变色 */
/* .slider-box .right-box :hover{
    background: rgba(0,0,0,0.5);
} */

.slider-box .right-box ,.slider-box .left-box span{
    font-size:24px;
    
}

.slider-box .index-box{
    /*  */
    background: rgba(0,0,0,0.3);
    position: absolute;
    bottom: 3%;
    left:10%;
    

}

.slider-box .index-box>ol{
    height:14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(196, 163, 163, 0);
}

.slider-box .index-box>ol>li{
  width:10px;
  height: 10px;
  border-radius: 50%;
  background: #d9d9d9;
  list-style:none;
  cursor:pointer;

}
.slider-box .index-box>ol>li.active{
    background: #6ba9ad;

}

